<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camera Management System</title>


</head>
<body>
    <h1><a href = "{{ url_for('home') }}">Camera Management System</a></h1><br>

    <h3><a href = "{{ url_for('new') }}">1)Add cameras</a></h3>

    <h3><a href = "{{ url_for('all') }}">2)camera details</a></h3>

    <h3><a href = "{{ url_for('modify') }}">4)modify camera details</a></h3>

    <h3><a href = "{{ url_for('remove') }}">5)delete camera details</a></h3>

</body>
</html>